Compazz.xcodeproj/project.xcworkspace/xcuserdata/dileky.xcuserdatad/UserInterfaceState.xcuserstate
Compazz.xcodeproj/xcuserdata/dileky.xcuserdatad/xcschemes/Compazz.xcscheme
Compazz.xcodeproj/xcuserdata/dileky.xcuserdatad/xcschemes/xcschememanagement.plist
